.searchFilms {
  width: 100%;
  margin: 0;
  padding: 69px 0 0;
 
}

@media screen and (max-width: 768px) {
  .searchFilms {
    
  }
}

@media screen and (max-width: 320px) {
  .searchFilms {
   
  }
}
 
.searchFilms__conteiner {
  width: 100%;
  margin: 0;
  padding-bottom: 13px;
  border-bottom: 1px solid #E8E8E8;
}

.searchFilms__form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.searchFilms__input {
  font-family: Inter, Arial, sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  text-align: left;
  border: 0;
}

.searchFilms__button {
  transition: background-color 1s ease;
  cursor: pointer;
  border-radius: 40%;
  border: none;
  background: #3456F3;
  font-family: Inter, Arial, sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: #FFF;
  width: 58px;
  height: 34px;
}

.searchFilms__button:hover {
  background-color: rgba(52, 86, 243, 0.8);
}