.profile__input {
  margin: 0;
  border: 0;
  min-height: 266px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  width: 410px;
  gap: 2px;
  padding: 123px 0 187px;
  gap: 15px;
}

@media screen and (max-width: 768px) {
  .profile__input {
    padding: 96px 0 177px;
  }
}

@media screen and (max-width: 450px) {
  .profile__input {
    padding: 79px 0 348px;
    width: 260px;
  }
}

.profile__input_edit {
  padding-bottom: 166px;
}

.profile__error-server {
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  text-align: center;
  color: rgba(255, 0, 76, 1);
  display: block;
  height: 22px;
  margin: 0;
  padding: 0;
  
}
